<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bank account</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <script src="../JS/bankACC.js" defer charset="utf-8"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
	<style>
		.appContent {
		    padding: 0 20px 20px 20px;
		    border-radius: 16px 16px 0 0;
		}
    #appCapsule{
      padding-bottom : 4rem;
    }
	</style>
</head>

<body>
    <div class="appHeader">
        <div class="left">
            <a href="profile.html" class="icon goBack">
                <i class="icon ion-ios-arrow-back"></i>
            </a>
        </div>
        <div class="pageTitle">Bank account</div>
    </div>


    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="appContent pb-0 pt-3 mt-3">
            <form id="bank-form">
                <div class="form-group">

                     <input id="u_name" type="text" value="" name="username" class="form-control" placeholder="Cardholder Name">
                </div>
				<div class="form-group">

				    <input type="text" id="Bank_name" value="" name="bankname" class="form-control" placeholder="Bank name">
				</div>
				<div class="form-group">

				    <input type="text" id = "Acc_numb" value="" name="bankno" class="form-control" placeholder="Bank Account">
				</div>
				<div class="form-group ">

                    <input type="text" value="" name="ifsc" id="ifsc" class="form-control" placeholder="Ifsc">
                </div>
				<div class="form-group">

                    <input id = "phone" type="number" value="" name="phone" class="form-control" placeholder="Mobile phone">
                </div>
				<div class="form-group">

                    <input type="password"  name="paypassword" class="form-control" id = "withdraw_pass" placeholder="withdraw password">
                </div>

				<div class="mt-1 mb-2" style="color: red;">
					<b>Ooops!</b>
				      * Cardholder name (5-30 characters).<br>
				 	 * Ifsc is 11 characters and the fifth digit is the number 0.<br>
					 * Mobile number is 10 digits.

				</div>
                <div>
                    <button id = "bank_acc_create" type="button"  data-form="bank-form" class="btn btn-primary btn-lg btn-block">
                       Save
                    </button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
