<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Gift</title>
		<link rel="stylesheet" href="../CSS/style.css">
		  <link rel="icon" type = "image/x-icon" href="../PHOTOS/favicon.png">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
		<style>
			.appContent {
				padding: 0 20px 20px 20px;
				/*    background: #FFFFFF; */
				border-radius: 16px 16px 0 0;
			}
			.img-fluid {
			     width: auto !important;
			    height: auto;
			    margin: auto;
			    display: block;
			}
		</style>
	</head>

	<body>
		<div class="appHeader">
			<div class="left">
				<a href="profile.html" class="icon goBack">
					<i class="icon ion-ios-arrow-back"></i>
				</a>
			</div>
			<div class="pageTitle">Gift</div>
		</div>

		<!-- App Capsule -->
		<div id="appCapsule" class="pb-2">

			<div class="appContent pb-0 ">
				<div class="banyue pt-5">

					<form method="post" id="gift-form">
						<div class="form-group">
							<label>gift code</label>
							<input type="text"  name="code"  class="form-control" placeholder="Please enter gift code">
						</div>

						<div>
							<button type="button" data-form="gift-form" onclick="TokenSubmit(this)" class="btn btn-primary btn-lg btn-block">
								Confirm
						    </button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</body>

</html>
