<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Withdraw Password</title>
		<link rel="stylesheet" href="../CSS/style.css">
		  <link rel="icon" type = "image/x-icon" href="../PHOTOS/favicon.png">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
		<style>
			.appContent {
				padding: 0 20px 20px 20px;
				/*    background: #FFFFFF; */
				border-radius: 16px 16px 0 0;
			}
			.dnw {
				background: #0CC993;
				padding-left: 10px;
			}



		</style>
	</head>

	<body>
		<div class="appHeader">
			<div class="left">
				<a href="profile.html" class="icon goBack">
					<i class="icon ion-ios-arrow-back"></i>
				</a>
			</div>
			<div class="pageTitle">Withdraw Password</div>
		</div>

		<!-- App Capsule -->
		<div id="appCapsule" class="pb-2">

			<div class="appContent pb-0 ">
               <div class="banyue  mt-3">


				<form method="post" id="paypwd-form">
					<div class="form-group">
						<label>Mobile</label>
						<input name="mobile" value="" type="text" class="form-control" >
					</div>

					<div class="form-group">
						<label>New Password</label>
						<input type="password" name="password" class="form-control" placeholder="Set a withdrawal password">
					</div>

					<div class="form-group">
						<label>Confirm Password</label>
						<input type="password" name="passwordok" class="form-control" placeholder="Please enter the withdrawal password again">
					</div>

					<div class="form-group">
						<label>Validation</label>
						<div style="clear: both;"></div>
						<input type="text" class="form-control uwp"  name="code"  placeholder="Verification code"
							style="width: 70%; float: left;">

						<div id="otp_send" class="mb-2" style="float: right; width: 26%;">
							<input class="form-control bt dnw" style="color: #fff;" type="button" value="Send" data-event="changepwd">
						</div>

					</div>
					<div class="mt-1 mb-2">

					</div>
					<div>
						<button id="submit" type="button" data-form="paypwd-form"
							class="btn btn-primary btn-lg btn-block">
							Confirm
						</button>
					</div>
				</form>
				  </div>
			</div>
		</div>

	 <script type="text/javascript">

			 async function otp(number){
				 let config = {
					 method : 'POST',
					 headers : {
						 'content-type' : 'application/json'
					 },
					 body : await JSON.stringify(number)
				 }

				 let res = await fetch('/otp' , config);
				 res = await res.json();

				 if(res['status'] === 1){
					 alert('OTP SENT');
				 }else{
					 alert('SOMETHING WENT WRONG');
					 window.location.reload();
				 }
			}

			 document.querySelector('#send_otp').addEventListener('click' , ()=>{
				 let number = document.querySelector('input[name = mobile]').value;

				 if(!number || number == undefined){
					 alert('wrong number');
					 return;
				 }else if(number.length === 10 || number.length === 13){
						otp({number});
				 }else{
					 alert('wrong number');
					 return;
				 }

			 });

      async function new_withdraw(data){
				let config = {
					method : 'POST',
					headers : {
						'content-type' : 'application/json'
					},
					body : await JSON.stringify(data)
				}
				let res = await fetch('/change_withdraw_code' , config)
        res = await res.json();

				if(res['status'] == 1){
				  alert('PASSWORD CHANGED');
          window.location.reload();
				}else if(res['status'] == 2){
					alert('INCORRECT OTP');
					return;
				}else{
					alert('SOMETHING WENT WRONG');
					return;
				}

			}

			 // sending the datas

			 document.querySelector('#submit').addEventListener('click' , ()=>{
          let pass = document.querySelector('input[name = password]').value;
					let cnfPass = document.querySelector('input[name = passwordok]').value;
          let otp = document.querySelector('input[name = code]').value

					if(!pass || !otp || ! cnfPass || otp == undefined || pass == undefined || cnfPass === undefined){
						alert('ENTER ALL THE DETAILS');
						return;
					}else if(pass !== cnfPass){
            alert('PASSWORD NOT MATCHED');
						return;
					}else{
						new_withdraw({pass , otp});
					}

			 })

	 </script>

	</body>

</html>
