<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROJECT</title>

    <link rel="stylesheet" href="../CSS/product.css">
    <link rel="stylesheet" href="../CSS/similar.css">
    <link rel="icon" type = "image/x-icon" href="../PHOTOS/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="../JS/product.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Didact+Gothic&display=swap" rel="stylesheet">
    <style>
      body{
        background : #a2d2ff;
      }
      .lamp_sofa{
        background: linear-gradient(220deg , #a2d2ff , #fef9ef);;
      }
    </style>
</head>
<body>
  <main>
    <div class="product_cantainer">
      <section class="Cantainer">
                <div class="header">
                    <h2>Products</h2>
                </div>
                <div>
                    <div class="lamp_sofa">
                        <div class="lamp_sofa_2">
                            <span class="color_changed">
                                <h3 class="lamp">MOBILE</h3>
                            </span>
                            <span>
                                <h3 class="sofa">OTHER</h3>
                            </span>
                        </div>
                        <section class="items" style="padding-bottom : 10rem;">

                            <div class="lamps">
                                <div class="background">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">SMRTPHRM-110</p>
                                    <p class="item_price">11000 Rs</p>
                                </div>
                                <p hidden class="item_days">40</p>
                                <p hidden class="item_daily_income">594</p>
                                <p hidden class="item_revenue">23760</p>
                                <p hidden class="item_percent">5.4</p>

                            </div>
                            <div class="lamps">
                                <div class="background">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">SMRTPHON-550</p>
                                    <p class="item_price">55000 Rs</p>
                                </div>
                                <p hidden class="item_days">39</p>
                                <p hidden class="item_daily_income">3300</p>
                                <p hidden class="item_revenue">128700</p>

                                <p hidden class="item_percent">6</p>
                            </div>
                            <div class="lamps">
                                <div class="background">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">SMRTPHMI-200</p>
                                    <p class="item_price">20000 Rs</p>
                                </div>
                                <p hidden class="item_days">42</p>
                                <p hidden class="item_daily_income">1040</p>
                                <p hidden class="item_revenue">47880</p>

                                <p hidden class="item_percent">5.7</p>
                            </div>
                            <div class="lamps">
                                <div class="background">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">SMRTPHVO-150</p>
                                    <p class="item_price">15000 Rs</p>
                                </div>
                                <p hidden class="item_days">40</p>
                                <p hidden class="item_daily_income">840</p>
                                <p hidden class="item_revenue">33600</p>

                                <p hidden class="item_percent">5.6</p>
                            </div>
                            <div class="lamps">
                                <div class="background">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">SMRTPHMI-850</p>
                                    <p class="item_price">85000 Rs</p>
                                </div>
                                <p hidden class="item_days">42</p>
                                <p hidden class="item_daily_income">5270</p>
                                <p hidden class="item_revenue">221340</p>

                                <p hidden class="item_percent">6.2</p>
                            </div>
                            <!-- NEW PRODUCTS  -->
                            <div class="lamps">
                                <div class="background">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">SMRTPHIQ-314</p>
                                    <p class="item_price">34100 Rs</p>
                                </div>
                                <p hidden class="item_days">41</p>
                                <p hidden class="item_daily_income">1977</p>
                                <p hidden class="item_revenue">81089</p>

                                <p hidden class="item_percent">5.8</p>
                            </div>
                            <div class="lamps">
                                <div class="background">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">MIC-10</p>
                                    <p class="item_price">10980 Rs</p>
                                </div>
                                <p hidden class="item_days">365</p>
                                <p hidden class="item_daily_income">219</p>
                                <p hidden class="item_revenue">80154</p>

                                <p hidden class="item_percent">2</p>
                            </div>
                            <div class="lamps">
                                <div class="background">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">TERPWS-70</p>
                                    <p class="item_price">7000 Rs</p>
                                </div>
                                <p hidden class="item_days">43</p>
                                <p hidden class="item_daily_income">364</p>
                                <p hidden class="item_revenue">15652</p>

                                <p hidden class="item_percent">5.2</p>

                            </div>
                            <div class="lamps">
                                <div class="background">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">LPS-490</p>
                                    <p class="item_price">49000 Rs</p>
                                </div>
                                <p hidden class="item_days">180</p>
                                <p hidden class="item_daily_income">1470</p>
                                <p hidden class="item_revenue">264600</p>

                                <p hidden class="item_percent">3</p>

                            </div>
                            <div class="lamps">
                                <div class="background">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">LPS-650</p>
                                    <p class="item_price">65000 Rs</p>
                                </div>
                                <p hidden class="item_days">99</p>
                                <p hidden class="item_daily_income">2600</p>
                                <p hidden class="item_revenue">257400</p>

                                <p hidden class="item_percent">4</p>

                            </div>


                        </section>

                        <!--sofas boxes -->

                        <section class="items_2" style="padding-bottom : 10rem;">
                           
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">ERPS-30</p>
                                    <p class="item_price">520 Rs</p>
                                </div>
                                <p hidden class="item_days">40</p>
                                <p hidden class="item_daily_income">26</p>
                                <p hidden class="item_revenue">1040</p>

                                <p hidden class="item_percent">5</p>
                            </div>
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">ERPWS-10</p>
                                    <p class="item_price">1000 Rs</p>
                                </div>
                                <p hidden class="item_days">40</p>
                                <p hidden class="item_daily_income">50</p>
                                <p hidden class="item_revenue">2000</p>

                                <p hidden class="item_percent">5</p>
                            </div>
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">TERPWS-50</p>
                                    <p class="item_price">5000 Rs</p>
                                </div>
                                <p hidden class="item_days">40</p>
                                <p hidden class="item_daily_income">260</p>
                                <p hidden class="item_revenue">10400</p>

                                <p hidden class="item_percent">5.2</p>
                            </div>
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">PB-31</p>
                                    <p class="item_price">3100 Rs</p>
                                </div>
                                <p hidden class="item_days">40</p>
                                <p hidden class="item_daily_income">155</p>
                                <p hidden class="item_revenue">6200</p>

                                <p hidden class="item_percent">5</p>
                            </div>
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">MITV-1500</p>
                                    <p class="item_price">150000 Rs</p>
                                </div>
                                <p hidden class="item_days">50</p>
                                <p hidden class="item_daily_income">10500</p>
                                <p hidden class="item_revenue">525000</p>

                                <p hidden class="item_percent">7</p>
                            </div>
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">ONPSTV-9000</p>
                                    <p class="item_price">90000 Rs</p>
                                </div>
                                <p hidden class="item_days">43</p>
                                <p hidden class="item_daily_income">5850</p>
                                <p hidden class="item_revenue">251000</p>

                                <p hidden class="item_percent">6.5</p>
                            </div>
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">MITV-2000</p>
                                    <p class="item_price">210000 Rs</p>
                                </div>
                                <p hidden class="item_days">51</p>
                                <p hidden class="item_daily_income">16800</p>
                                <p hidden class="item_revenue">856800</p>

                                <p hidden class="item_percent">8</p>
                            </div>
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">ONPSTV-700</p>
                                    <p class="item_price">70000 Rs</p>
                                </div>
                                <p hidden class="item_days">40</p>
                                <p hidden class="item_daily_income">4270</p>
                                <p hidden class="item_revenue">170800</p>

                                <p hidden class="item_percent">6.1</p>
                            </div>
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">TWRPWS-25</p>
                                    <p class="item_price">2500 Rs</p>
                                </div>
                                <p hidden class="item_days">40</p>
                                <p hidden class="item_daily_income">125</p>
                                <p hidden class="item_revenue">5000</p>

                                <p hidden class="item_percent">5</p>
                            </div>
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">LPS-230</p>
                                    <p class="item_price">230060 Rs</p>
                                </div>
                                <p hidden class="item_days">40</p>
                                <p hidden class="item_daily_income">12653</p>
                                <p hidden class="item_revenue">1897995</p>

                                <p hidden class="item_percent">5.5</p>
                            </div>
                            <div class="sofas">
                                <div class="background_s">
                                    <h5>Hot</h5>
                                </div>
                                <div>
                                    <p class="item_name">REF-140</p>
                                    <p class="item_price">140070 Rs</p>
                                </div>
                                <p hidden class="item_days">360</p>
                                <p hidden class="item_daily_income">7003</p>
                                <p hidden class="item_revenue">2521260</p>

                                <p hidden class="item_percent">5</p>
                            </div>

                        </section>
                    </div>
                </div>
      </section>

        <!--lamp popup -->
      <div class="lamp_popup">
                <div class="lamp_popup_backgd">
                        <i id="lamp_popup_out" class="fa fa-angle-left"></i>
                </div>
                <div class="lamp_popup_innear">
                    <div class="lamp_popup_prise">
                        <h2 class="l_popup_name" >i-550</h2>
                        <span>
                            <p>price</p>
                            <p class="l_popup_price">550 Rs</p>
                        </span>
                        <span>
                            <p> Daily income</p>
                            <p class="l_popup_daily_income">27.5 Rs</p>
                        </span>
                        <span>
                            <p>Validity</p>
                            <p class="l_popup_validity">40 Days</p>
                        </span>
                        <span>
                            <p>Total revenue</p>
                            <p class="l_popup_revenue">1100 Rs</p>
                        </span>
                    </div>
                    <div class="lamp_pop_wallet">
                       <h4>Choose a wallet</h4>
                       <span id="recharge"><a href="recharge.html">Recharge</a></span>
                       <span id="balance"><a href="profile.html">Balance</a></span>
                    </div>
                    <div class="lamp_popup_det">
                        <h4>Details</h4>
                    </div>
                    <div class="lamp_popup_footer">
                        <span><p>Amount <h3 class="l_popup_price">550 </h3>Rs</p></span>
                        <span id="lamp_purchase_btn">Buy</span>
                    </div>
                </div>
      </div>

        <!--sofa popup -->
      <section class="sofas_pop">
        <div class="sofa_popup">
          <div class="sofa_popup_backgd">
            <i id="sofa_popup_out" class="fa fa-angle-left"></i>
          </div>
          <div class="sofa_popup_innear">
            <div class="sofa_popup_prise">
              <h2 class="s_popup_name">i-550</h2>
              <span>
                <p>price</p>
                <p class="s_popup_price">550 Rs</p>
              </span>
              <span>
                <p> Daily income</p>
                <p class="s_popup_daily_income">27.5 Rs</p>
              </span>
              <span>
                <p>Validity</p>
                <p class="s_popup_validity">40 Days</p>
              </span>
              <span>
                <p>Total revenue</p>
                <p class="s_popup_revenue">1100 Rs</p>
              </span>
            </div>
            <div class="sofa_pop_wallet">
              <h4>Choose a wallet</h4>
              <span id="recharge">Recharge</span>
              <span id="balance">Balance</span>
            </div>
            <div class="sofa_popup_det">
              <h4>Details</h4>

            </div>
            <div class="sofa_popup_footer">
              <span style="display : flex;">Amount- <p class="s_popup_price">00</p>-Rs</span>
              <span id="sofa_purchase_btn">Buy</span>
            </div>
          </div>
        </div>
      </section>

    </div>
  </main>
  <footer>
    <div class="footer home">
      <a href="home.html">
        <ion-icon name="home-outline"></ion-icon>
      </a>
      HOME
    </div>
   <div class="footer records">
     <a href="product.html">
      <ion-icon name="bag-add-outline"></ion-icon>
     </a>
     PRODUCTS
   </div>
   <div class="footer trades">
     <a href="teams.html">
        <ion-icon name="people-outline"></ion-icon>
     </a>
     TEAMS
   </div>
   <div class="footer profile">
     <a href="profile.html">
      <ion-icon name="person-outline"></ion-icon>
    </a>
    PROFILE
    </div>
  </footer>

</body>

</html>
