<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Change Password</title>
		<link rel="stylesheet" href="../CSS/style.css">
		<script src="../JS/changePass.js" defer charset="utf-8"></script>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
		<style>
			.appContent {
				padding: 0 20px 20px 20px;
				/*    background: #FFFFFF; */
				border-radius: 16px 16px 0 0;
			}
      #appCapsule{
        padding-bottom : 3rem;
      }

		</style>
	</head>

	<body>
		<div class="appHeader">
			<div class="left">
				<a href="profile.html" class="icon goBack">
					<i class="icon ion-ios-arrow-back"></i>
				</a>
			</div>
			<div class="pageTitle">Change Password</div>
		</div>

		<!-- App Capsule -->
		<div id="appCapsule">

			<div class="appContent pb-0 ">
				<div class="banyue  mt-3 ">
				<form method="post" id="pwd-form">
					<div class="form-group">
						<label>Old Password</label>
						<input id="old_pass" type="password" name="oldpassword" class="form-control"
							placeholder="Please enter your old password">
					</div>
					<div class="form-group">
						<label>New Password</label>
						<input id="new_pass" type="password" name="newpassword" class="form-control"
							placeholder="Please enter a new password">
					</div>
					<div class="form-group">
						<label>Confirm Password</label>
						<input id="cnf_pass" type="password" name="renewpassword" class="form-control"
							placeholder="Please enter new password again">
					</div>
					<div class="mt-1 mb-2">

					</div>
					<div>
						<button id="change_pass" type="button" data-form="pwd-form"
							class="btn btn-primary btn-lg btn-block">
							Confirm
						</button>
					</div>
				</form>
				  </div>
			</div>
		</div>

	</body>

</html>
