body{
  background: #e8e8e8;
}
body > section{
  box-shadow: 0 0 4px -1px grey;
}

.header{
  width: 100%;
  padding :2rem 0rem;
  text-align: center;
  background: blue;
  color : white;
}

.order_info{
  width: 100%;
  padding : 2rem 3rem;
  background: white;
  color : black;
}

.order_info > div{
  display: flex;
}

.order_info > div > h4:first-child{
  font-weight: 100;
}

.order_info > div > h4:last-child{
  padding-left: 10px;
}

.transfer{
  width: 100%;
  margin-top: 1rem;
  padding : 1rem;
  background: white;
}
.transfer_top{
  color : blue;
  font-size: small;
}
.transfer_top > p > span{
  color : magenta;
}

.upi_box{
  margin: 1rem auto;
  width: 90%;
  padding : 1rem;
  background: #f8f6fa;
  color : black;
  text-align: center;
}

.copy_btn{
  margin : 1rem auto;
  width: 60%;
  border : 1px solid blue;
  text-align: center;
  padding : 0.5rem 1rem;
  color : blue;
}
.random_text{
  font-weight: 100;
}

.tnx_id{
  margin-top: 1rem;
  padding :1rem;
  background: white;
}
.tnx_id > input{
  width: 95%;
  height : 2rem;
  outline: none;
  text-align: center;
  border : none;
  border-bottom: 1px solid blue;
  margin : 1rem auto;
}
.tnx_id {
  font-weight: 100;
  margin: 1rem 0;
}

button{
  width: 80%;
  margin : 1rem auto;
  background: blue;
  color : white;
  text-align: center;
  border : none;
  padding : 1rem 0;
  margin-left: 50%;
  transform: translateX(-50%);
  outline-color: none;
  font-weight: 800;
}
