body{
  background: #e8e8e8;
}
body > section{
  box-shadow: 0 0 4px -1px grey;
}

.header{
  width: 100%;
  padding :2rem 0rem;
  text-align: center;
  background: blue;
  color : white;
}

.order_info{
  width: 100%;
  padding : 2rem 3rem;
  background: white;
  color : black;
}

.order_info > div{
  display: flex;
}

.order_info > div > h4:first-child{
  font-weight: 100;
}

.order_info > div > h4:last-child{
  padding-left: 10px;
}

.transfer{
  width: 100%;
  margin-top: 1rem;
  padding : 1rem;
  background: white;
}
.transfer_top{
  color : blue;
  font-size: small;
}
.transfer_top > p > span{
  color : magenta;
}

.upi_box{
  margin: 1rem auto;
  width: 90%;
  padding : 1rem;
  background: #f8f6fa;
  color : black;
  text-align: center;
}

.copy_btn{
  margin : 1rem auto;
  width: 60%;
  border : 1px solid blue;
  text-align: center;
  padding : 0.5rem 1rem;
  color : blue;
}
.random_text{
  font-weight: 100;
}

.tnx_id{
  margin-top: 1rem;
  padding :1rem;
  background: white;
}
.tnx_id > input{
  width: 95%;
  height : 2rem;
  outline: none;
  text-align: center;
  border : none;
  border-bottom: 1px solid blue;
  margin : 1rem auto;
}
.tnx_id {
  font-weight: 100;
  margin: 1rem 0;
}

button{
  width: 80%;
  margin : 1rem auto;
  background: blue;
  color : white;
  text-align: center;
  border : none;
  padding : 1rem 0;
  margin-left: 50%;
  transform: translateX(-50%);
  outline-color: none;
  font-weight: 800;
}

/* ------------yy pay------------- */

#yy_pay{
  position: absolute;
  top : 0;
  left : -100vw;
  z-index: 3;
  background: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: #1bb0f4;
  width: 100vw;
}
#yy_pay > div {
  width: 95%;
  border-radius: 10px;
}
#yy_pay > .section1{
  border-radius: 10px;
  background: white;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding : 0.25rem;
  place-items: center;
  grid-row-gap: 0.3rem;
}
.section1 > span{
  height: 100%;
  width: 100%;
  text-align: center;
}

.section1 > span:nth-child(1){
  background : url(../PHOTOS/paytm1-icon.png)center no-repeat;
  background-size: 50%;
}

.section1 > span:nth-child(3){
  background : url(../PHOTOS/google-pay1.png)center no-repeat;
  background-size: contain;
}
.section1 > span:nth-child(5){
  background : url(../PHOTOS/upi-icon1.png)center no-repeat;
  background-size: 50%;
}

.section1 > span:nth-child(even){
  background : #1bb0f4;
  color : white;
  border-radius: 5px;
  padding : 0.5rem;
}
.section2 {
  padding : 0.5rem;
  text-align: start;
  background: white;
  border-radius: 10px;
}
.YY_upi{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 0.5rem;
  justify-content: center;
}

.section3{
  background: white;
  padding : 0.25rem 0.5rem;
  text-align: start;
  display: grid;
  place-items: center;
}
.section3 > input{
  width : 98%;
  outline : none;
  padding : 0.25rem;
}
#yy_upi_cpy{
  padding : 0.25rem;
  background : #1bb0f4;
  color : white;
  border-radius: 5px;
  margin-left: 50%;
}
#yy_submit{
  background: green;
  color : white;
  width: 50%;
  border-radius: 5px;
  margin-left : 50%;
  margin-top : 0.25rem;
  padding : 0.5rem;
  text-align: center;
}
.logos{
 display: grid;
 grid-template-columns: repeat(6,1fr);
 width: 70%!important;
 grid-column-gap: 0.25rem;
}
.logos > span{
  height: 3rem;
  border-radius: 100%;
  background-color: white;
  width: 100%;
}
.logos > span:nth-child(1){
  background : url(../PHOTOS/paytm.png) center no-repeat;
  background-size: contain;
}
.logos > span:nth-child(2){
  background : url(../PHOTOS/google-pay.png) center no-repeat;
    background-size: contain;
}
.logos > span:nth-child(3){
  background : url(../PHOTOS/phonepay.png) center no-repeat;
    background-size: contain;
}

.logos > span:nth-child(4){
  background : url(../PHOTOS/upi-icon.png) center no-repeat;

  background-color: white;
    background-size: contain;
}

.logos > span:nth-child(5){
  background : url(../PHOTOS/visa.png) center no-repeat;
    background-size: contain;

    background-color: white;
}

.logos > span:nth-child(6){
  background : url(../PHOTOS/mobikwik-logo-icon.png) center no-repeat;
  background-color: white;
    background-size: contain;
}
#secure{
  background: url(../PHOTOS/security.png) center no-repeat;
  height : 2rem;
  width: 2rem;
  background-size: contain;
}
