main , body{
    background: linear-gradient(45deg, #c2ced8, #a3d2fe);
}
header{
  background: linear-gradient(to right, #c2ced8, #a3d2fe);
  color: #ffff;
  border : none;
  align-items: center;
}
.user_info{
  width: 93%;
  margin : 1rem auto;
  padding : 1rem;
  background: linear-gradient(45deg, #fa8b69, #b0c8e8);
  color:white;
  box-shadow: 0 0 4px -1px grey;
  border-radius: 0.5rem;
}
.user_info > div:nth-child(2){
  display: flex;
  justify-content: space-around;
  margin : 1rem 0;
}

.user_info > div:nth-child(2) > div{
  display: flex;
  width: 48%;
  background: #9ed4f9;
  box-shadow: 0 3px 10px rgb(0 0 0 / 7%), inset 0 2px 0 #fff;
  border-radius: 0.5rem;
  padding : 0.5rem 1rem;
}
.user_info > div:nth-child(2) > div > span{
  height: 100%;
  width: 40%;
  display: grid;
  place-content: center;
  font-size: 30px;
  color: #e5847a
}

.user_info > div:nth-child(2) > div > div{
  padding : 0 0.5rem;
}

.user_info > div:nth-child(2) > div > div > p{
  font-size: 1.2rem;
}

/* ===========team navigator ===== */
.team_navigator{
  width: 95%;
  border-radius: 0.5rem;
  margin : 1rem auto;
  background: #dde1ec;
  padding : 2px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.team_navigator_selected{
  background: white;
  border-radius: 0.5rem;
}
.team_navigator > div{
  height: 100%;
  width: 100%;
  padding : 0.5rem;
  text-align: center;
}
.team_info_header , .team_info_container
.team_info_box
{
  width: 90%;
  margin : 1rem auto;
  display: grid;
  padding : 1rem 0.5rem;
  background :#fcfcfc;
  border-radius: 0.6rem;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 7%), inset 0 2px 0 #fff;
}

.team_info_container{
  padding-bottom: 80px;
  overflow-y: scroll;
  position: relative;
  display: flex;
  height: 40vh;
  overflow-x: hidden;
}
.team_info_container > div{
  width: 100%;
  position: absolute;
  left : -100vw;
  top : 0;
  padding-bottom: 80px;
}
#level1{
  left : 0;
}
